docs/exercises/01-email-classification/downloads/email-classification-workflow.json
{
  "name": "Email Classification & Routing",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {},
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [
        -464,
        -224
      ],
      "id": "0635c9d2-6fbb-4d87-9a23-47fff77d3c5b",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Email from: {{$json.senderName}} <{{$json.sender}}>\nSubject: {{$json.subject}}\nBody: {{$json.truncatedBody}}\n\nClassify as:\n1. Priority: \"urgent\" | \"high\" | \"medium\" | \"low\"\n2. Action Required: true | false\n3. Confidence Score: 0.0-1.0\n4. Reasoning: Brief explanation of classification",
        "hasOutputParser": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        -16,
        -224
      ],
      "id": "bd5a0c68-e3a7-42e1-9afa-d63a6efb8fe6",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": "google/gemma-3-27b-it:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -8,
        0
      ],
      "id": "52d12bff-2b30-4e3c-bcd8-41221a26ad33",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "OpenRouter - AI Models"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"$schema\": \"https://json-schema.org/draft/2020-12/schema\",\n  \"type\": \"object\",\n  \"properties\": {\n    \"priority\": {\n      \"type\": \"string\",\n      \"enum\": [\"urgent\", \"high\", \"medium\", \"low\"]\n    },\n    \"actionRequired\": {\n      \"type\": \"boolean\"\n    },\n    \"confidence\": {\n      \"type\": \"number\"\n    },\n    \"reasoning\": {\n      \"type\": \"string\"\n    }\n  },\n  \"required\": [\"priority\", \"actionRequired\", \"confidence\", \"reasoning\"],\n  \"additionalProperties\": false\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        120,
        0
      ],
      "id": "1448e5c4-b29f-43d6-bcb2-0ff5ddaef948",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Extract and clean email data\nconst emailData = {\n  sender: $input.item.json.from.value[0].address,\n  senderName: $input.item.json.from.value[0].name || 'Unknown',\n  subject: $input.item.json.subject,\n  body: $input.item.json.text || $input.item.json.snippet,\n  receivedDate: $input.item.json.date,\n  messageId: $input.item.json.id,\n  threadId: $input.item.json.threadId\n};\n\n// Clean body text (remove signatures, quotes)\nemailData.cleanBody = emailData.body\n  .split(/\\r?\\n-- \\r?\\n/)[0]  // Remove signature\n  .split(/On .+ wrote:/)[0]    // Remove quoted text\n  .trim();\n\n// Truncate for API limits (first 1000 chars)\nemailData.truncatedBody = emailData.cleanBody.substring(0, 1000);\n\nreturn {\n  json: emailData\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -240,
        -224
      ],
      "id": "5a9e6746-b84d-4429-a2ff-21ccc86758c2",
      "name": "Prepare Email for AI"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cebe9552-08f9-44cb-8a85-03f5159e3c0c",
              "name": "priority",
              "value": "={{ $json.output.priority }}",
              "type": "string"
            },
            {
              "id": "dfdc943e-cef4-4a80-8ce9-113a1124ecd3",
              "name": "confidence",
              "value": "={{ $json.output.confidence }}",
              "type": "number"
            },
            {
              "id": "7507e457-ddea-45df-b4a7-8e7d2ab38200",
              "name": "reasoning",
              "value": "={{ $json.output.reasoning }}",
              "type": "string"
            },
            {
              "id": "f380bd7b-28a9-49c6-ac21-65477883a95b",
              "name": "sender",
              "value": "={{ $('Prepare Email for AI').item.json.sender }}",
              "type": "string"
            },
            {
              "id": "1d169cf6-f209-4f14-8d08-0892be28b6eb",
              "name": "subject",
              "value": "={{ $('Prepare Email for AI').item.json.subject }}",
              "type": "string"
            },
            {
              "id": "5681715d-40e2-4f02-8209-37020a7fb83d",
              "name": "messageId",
              "value": "={{ $('Prepare Email for AI').item.json.messageId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        336,
        -224
      ],
      "id": "a6aa6b71-ef5e-44d0-9c83-b0a94ff20df8",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.priority }}",
                    "rightValue": "urgent",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Urgent Support"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.priority }}",
                    "rightValue": "high",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "High Priority"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        560,
        -240
      ],
      "id": "6a3992f3-bbc0-4e16-ab3a-403416eae458",
      "name": "Route by Priority"
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Edit Fields').item.json.messageId }}",
        "labelIds": [
          "REPLACE_WITH_URGENT_LABEL_ID"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        784,
        -416
      ],
      "id": "e100c151-3e83-4816-b802-d891397e01d6",
      "name": "Add label to message",
      "credentials": {
        "gmailOAuth2": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Edit Fields').item.json.messageId }}",
        "labelIds": [
          "REPLACE_WITH_HIGH_PRIORITY_LABEL_ID"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        784,
        -224
      ],
      "id": "6e23abf7-d4f8-4b8a-83f1-b6470ca4687a",
      "name": "Add label to message1",
      "credentials": {
        "gmailOAuth2": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        784,
        -32
      ],
      "id": "1f37b333-5ca3-415b-9870-04d07b4a5c75",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "messageId",
              "value": "={{ $('Edit Fields').item.json.messageId }}",
              "type": "string"
            },
            {
              "name": "threadId",
              "value": "={{ $json.threadId }}",
              "type": "string"
            },
            {
              "name": "receivedDate",
              "value": "={{ $('Prepare Email for AI').item.json.receivedDate }}",
              "type": "string"
            },
            {
              "name": "sender",
              "value": "={{ $('Prepare Email for AI').item.json.sender }}",
              "type": "string"
            },
            {
              "name": "senderName",
              "value": "={{ $('Prepare Email for AI').item.json.senderName }}",
              "type": "string"
            },
            {
              "name": "subject",
              "value": "={{ $('Prepare Email for AI').item.json.subject }}",
              "type": "string"
            },
            {
              "name": "processed_date",
              "value": "={{ DateTime.now().toISO() }}",
              "type": "string"
            },
            {
              "name": "priority",
              "value": "={{ $('Edit Fields').item.json.priority }}",
              "type": "string"
            },
            {
              "name": "confidence",
              "value": "={{ $('Edit Fields').item.json.confidence }}",
              "type": "number"
            },
            {
              "name": "reasoning",
              "value": "={{ $('Edit Fields').item.json.reasoning }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1008,
        -320
      ],
      "id": "51e57267-38bb-4b56-ba97-1b67e5a2ef6b",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "REPLACE_WITH_YOUR_SPREADSHEET_ID",
          "mode": "list",
          "cachedResultName": "Email Classification Log"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "messageId"
          ],
          "schema": [
            {
              "id": "messageId",
              "displayName": "messageId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "threadId",
              "displayName": "threadId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "receivedDate",
              "displayName": "receivedDate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sender",
              "displayName": "sender",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "senderName",
              "displayName": "senderName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "subject",
              "displayName": "subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "processed_date",
              "displayName": "processed_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "priority",
              "displayName": "priority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "confidence",
              "displayName": "confidence",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "reasoning",
              "displayName": "reasoning",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1232,
        -320
      ],
      "id": "6dac01a7-deda-4ab9-a14c-711fdd9e2d6f",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Prepare Email for AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Email for AI": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Route by Priority",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Priority": {
      "main": [
        [
          {
            "node": "Add label to message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add label to message1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add label to message": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add label to message1": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "email-classification-exercise"
  }
}
